.home-page__wrapper {
  margin-left: 4.5rem;
  overflow: hidden;
}

.home-page__wrapper .front-image__div {
  background-image: url("../../images/bgc.jpg");
  height: 100vh;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.home-page__wrapper .front-image__div .main-text {
  margin-top: 0;
  padding: 1em;
  text-transform: uppercase;
  font-size: 7vw;
  text-align: center;
  color: white;
}

.home-page__wrapper .front-image__div h3 {
  color: white;
  text-align: center;
  font-size: 2.5vw;
  margin-top: -2em;
}

.home-page__wrapper .title__h4 {
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 1em;
  margin: 0;
}

.home-page__wrapper .about__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5rem;
}

.home-page__wrapper .about__wrapper p {
  width: 70%;
  margin: auto;
  font-size: 1.1rem;
  text-align: center;
}

.home-page__wrapper .skills__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5rem;
  background-color: #ededed;
}

.home-page__wrapper .skills__wrapper .item__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 1s;
  transition: 1s;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: auto;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.home-page__wrapper .skills__wrapper .item__wrapper:nth-of-type(2n + 1) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

.home-page__wrapper .skills__wrapper .item__wrapper .icon__wrapper {
  font-size: 9rem;
  padding: 2rem;
}

.home-page__wrapper .skills__wrapper .item__wrapper .text__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2rem 2rem;
  width: 50%;
}

.home-page__wrapper .skills__wrapper .item__wrapper .text__wrapper h5 {
  margin: 0;
  font-size: 2em;
}

.home-page__wrapper .skills__wrapper .item__wrapper .text__wrapper p {
  font-size: 1.1em;
}

.home-page__wrapper .skills__wrapper .item__wrapper.visible {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media only screen and (max-width: 800px) {
  .home-page__wrapper {
    margin-left: 0;
  }
}

@media screen and (max-width: 1284px) {
  .home-page__wrapper .front-image__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-page__wrapper .skills__wrapper {
    padding: 5rem 1rem;
  }
  .home-page__wrapper .skills__wrapper .item__wrapper {
    width: 100%;
  }
  .home-page__wrapper .skills__wrapper .item__wrapper .icon__wrapper {
    max-width: 110px;
  }
  .home-page__wrapper .skills__wrapper .item__wrapper .text__wrapper {
    width: 70%;
  }
}

@media screen and (max-width: 640px) {
  .home-page__wrapper .about__wrapper p {
    width: 90%;
  }
  .home-page__wrapper .skills__wrapper {
    padding: 5rem 1rem;
  }
  .home-page__wrapper .skills__wrapper .item__wrapper {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-page__wrapper .skills__wrapper .item__wrapper .icon__wrapper {
    max-width: 150px;
  }
  .home-page__wrapper .skills__wrapper .item__wrapper .text__wrapper {
    margin-top: -4rem;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 420px) {
  .home-page__wrapper .about__wrapper p {
    width: 100%;
    padding: 0;
  }
  .home-page__wrapper .skills__wrapper {
    padding: 5rem 1rem;
  }
  .home-page__wrapper .skills__wrapper .item__wrapper {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-page__wrapper .skills__wrapper .item__wrapper .icon__wrapper {
    max-width: 150px;
  }
  .home-page__wrapper .skills__wrapper .item__wrapper .text__wrapper {
    margin-top: -4rem;
    width: 90%;
    text-align: center;
  }
}
/*# sourceMappingURL=HomePage.css.map */